
services:
  webscraping-aero:
    build: .
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - PORT=3000
    
    # Adicionar limites de recursos para evitar sobrecarga
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M